Quetion 1
Who scored the highest six in ipl

Expected
 the highest six scored is chris Gayle 

Actual
 Chris Gayle


Question 2
 Which team has won the most IPL titles from 2008 to 2026?

Expected
  Mumbai inidans have most ipl trophys

Actual
 Mumbai indians


Question 4
 Who has scored the most runs in IPL history up to 2026?

Expected
 Virat Kohli have most runs in ipl until 2026 season

Actual
 Virat Kohli


Question 4
 Who has taken the most wickets in IPL history up to 2026? 

Expected
 Yuzvendra Chahal has take most wickets in ipl history

Actual
 Yuzvendra Chahal


Question 5
 Who won the IPL 2026 final?

Expected
 RCB has won the 2026 ipl title

Actual
 RCB